.div.center.space-50
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field.space-20
      = f.label :new_password
      %br
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %br
        %em
          = @minimum_password_length
          characters minimum
    .field.space-20
      = f.label :new_password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off"

    %br
    %br

    %table.center
      %tr
        %th= f.label :first_name
        %th= f.text_field :forename
      %tr
        %th= f.label :surname
        %th= f.text_field :surname
      %tr
        %th= f.label :address
        %th= f.text_field :address
      %tr
        %th= f.label :postcode
        %th= f.text_field :postcode
      %tr
        %th= f.label :county
        %th= f.text_field :county
      %tr
        %th= f.label :city
        %th= f.text_field :city
      %tr
        %th= f.label :country
        %th= f.text_field :country

    .field.space-20
      = f.label :current_password
      %i (to confirm your changes)
      %br
      = f.password_field :current_password, autocomplete: "off"

    .actions.space-20
      = f.submit "Update"
  %h5.space-50 Cancel my account
  %p
    #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
