.tab-pane
  .container
    - if customer_signed_in?
      %br
        - if current_customer.admin?
          = link_to 'Add product', new_product_path(@product), class: "btn btn-primary"
      %br
      .row
        .span4
        - @products.each do |product|
          - if Date.today <= product.product_end_date
            %br
            .card{:style => "width: 20rem;"}
              .card-block
                %h4= product.title
                = image_tag product.image_url, class: "small" rescue nil
                %p.card-text= product.description
                - if current_order_total(product.id) < product.cheaper_target
                  %h4= product.price
                - elsif current_order_total(product.id) > product.cheaper_target && current_order_total(product.id) < product.cheapest_target
                  %h4= product.cheaper_price
                - else
                  %h4= product.cheapest_price
                = link_to 'More details', product_path(product), class: "btn btn-primary"