#body
  .center
    %span.box1.box2
      %h2.space-50= @product.title
  %table.center.space-50
    %tr
      %td= image_tag(@product.image_url(:thumb).to_s)
      %td= @product.description
    %tr
      %td
      %td= @product.brand
    %tr
      %td
      %td= @product.manufacturer
    %tr
      %td
      %td= @product.model
  .center.space-50
    %h3 Price
    %h3
      $
      = @product.variable_price
    - if current_customer.admin? && current_customer.id == @product.customer_id
      = link_to 'Edit', controller: "products", action: "edit", product: @product.id
      = link_to 'Delete', product_path(@product), method: :delete

= form_for @order, :url => orders_path, :html => {:method => :post} do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  %p.center.space-20
    = f.label :quantity
    %br
    = f.number_field :quantity, "data-validation"=>"length", "data-validation-length"=> "min1"
    %br
    = f.hidden_field :product_id, value: @product.id
    = f.hidden_field :customer_id, value: @customer.customer_id

  %p.actions.center
    %br
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
          data: {amount: @product.variable_price * 100, description: @product.title, email: @customer.email, key: Rails.configuration.stripe[:publishable_key]}}


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"}

:javascript
  var quantityAmount = #{@product.variable_price}
  $.validate({
  });

  $("#order_quantity").on("keyup", function(){
    var quantityValue = $(this).val();
    k = (parseInt(quantityValue) * quantityAmount) * 100;

    $('.stripe-button').attr('data-amount', k)
  })